:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}

#profPic{
  width: 225px;
  height: 200px;
  border-radius: 98px;
  margin-left: 15px;
  margin-bottom: 80px;
  z-index: 1000;
}

h1{
  font-size: 55px;
  font-family: inder;
  color: #cccf00;
  line-height: 60px;
  width: 400px;
  margin-left: 85px;
  z-index: 1000;
}

h2{
  width: 300px;
  line-height: auto;
  font-family: inder;
  font-size: 28px;
  margin-left: 85px;
  z-index: 1000;
}

/* page links */

#links{
  font-size: 40px;
  font-family: inika;
  position: relative;
}

#projectsLink, #blogLink, #cvLink, 
#socialLink{
  background-color: hsl(230, 58%, 45%);
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  border-style: none;
  margin: 10px 6px;
  padding: 8px 30px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1000;
}

#blogLink:hover, #projectsLink:hover,
#cvLink:hover, #socialLink:hover, #githubLink:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 40px;
}

#projectsLink{
  width: 335px;
}

#projectsLink img{
  width: 92px;
  height: 52px;
  position: absolute;
  right: 30px;
  top: 11px;
}

#blogLink{
  width:  210px;
  height: 60px;
}

#blogLink img{
  display: inline;
  width: 45px;
  height: 37px;
  position: absolute;
  right: 18px;
  top: 22px;
}

#blogAndCvDiv{
  display: flex;
  flex-direction: row;
}

#socialLink {
  padding: 10px 30px;
  padding-bottom: 0;
  font-size: 42px;
}

#facebookIcon{
  width: 65px;
  height: auto;
  margin: 0 7px;
}

#linkedinIcon{
  width: 65px;
  height: auto;
  margin: 0 7px;
}

#xIcon{
  width: 65px;
  height: auto;
  margin: 0 7px;
}

#gmailIcon{
  width: 65px;
  height: auto;
  margin: 0 7px;
}

#githubLink{
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: hsl(230, 58%, 45%);
  border-radius: 50px;
  padding: 10px 30px;
  width: 100px;
  height: 160px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1000;
}

#githubLink img{
  width: 100px;
  height: auto;
}

a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: white; /* or your desired link color */
}

/* tool icons */

#toolsDiv{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#toolsDiv img{
  margin: 10px;
  width: 100px;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

#htmlIconDiv,
#cssIconDiv,
#jsIconDiv,
#mongoIconDiv,
#expressIconDiv,
#reactIconDiv,
#nodeIconDiv {
  position: relative;
}

.tooltip{
  position: absolute;
  background-color: hsl(230, 58%, 45%);
  color: white;
  padding: 6px 8px 6px 8px;
  border-radius: 20px;
  font-size: 12px;
  bottom: -30px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
  font-family: Roboto, Arial;
  z-index: 1000;
}

#htmlIconDiv:hover #htmlTooltip,
#cssIconDiv:hover #cssTooltip,
#jsIconDiv:hover #jsTooltip,
#mongoIconDiv:hover #mongoTooltip,
#expressIconDiv:hover #expressTooltip,
#reactIconDiv:hover #reactTooltip,
#nodeIconDiv:hover #nodeTooltip {
  opacity: 1;
}

/* corner decorations */

.cornerSquare{
  background-color: white;
  width: 200px;
  height: 200px;
  z-index: 100;
  position: absolute;
}

#square1{
  top: 0;
  left: 0;
}
#square2{
  top: 0;
  right: 0;
}
#square3{
  bottom: 0;
  left: 0;
}
#square4{
  bottom: 0;
  right: 0;
}

.cornerCircle{
  background-color: #252525;
  width: 400px;
  height: 400px;
  z-index: 101;
  border-radius: 200px;
  position: absolute;
}

#circle1{
  top: 0px;
  left: 0px;
}
#circle2{
  top: 0px;
  right: 0px;
}
#circle3{
  bottom: 0px;
  left: 0px;
}
#circle4{
  bottom: 0px;
  right: 0px;
}