main{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 80px;
    width: 540px;
}

.contactsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

p{
    font-size: 30px;
}

img{
    width: 85px;
    height: auto;
    margin: 0 20px;
    position: relative;
}